Repository MozillaSecurity/orion: changes, and which pre-commit hooks are due for each by the changed paths.
All: grizzly-lint, grizzly-android-lint, grizzly-reduce-monitor-lint, hadolint, fuzzing-decision-lint, orion-decision-lint, orion-builder-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.1
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
        files: ^scripts/.*|^setup.py
  - repo: https://github.com/ambv/black
    rev: 24.8.0
    hooks:
      - id: black
        files: ^scripts/.*|^setup.py
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: trailing-whitespace
        exclude: '\.diff$'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: check-json
      - id: requirements-txt-fixer
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude_types: [json]
        exclude: ^(.*\.ron)|(pools*.yaml)$
  - repo: https://github.com/marco-c/taskcluster_yml_validator
    rev: v0.0.11
    hooks:
      - id: taskcluster_yml
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--exclude=SC1091,SC2148']
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-s', '-w']
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: orion-service-load
        name: Check that Orion services can be loaded
        entry: bash -c 'cd services/orion-decision && exec tox -qq -e check -- -q ../.. "$@"' orion-check
        language: system
        always_run: true
        require_serial: true
        verbose: true
      - id: grizzly-lint
        name: Run linters for grizzly
        entry: bash -c 'cd services/grizzly && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/grizzly/.*
      - id: grizzly-android-lint
        name: Run linters for grizzly-android
        entry: bash -c 'cd services/grizzly-android && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/grizzly-android/.*
      - id: grizzly-reduce-monitor-lint
        name: Run linters for grizzly_reduce_monitor
        entry: bash -c 'cd services/grizzly-reduce-monitor && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/grizzly-reduce-monitor/.*
      - id: hadolint
        name: Lint dockerfiles
        language: system
        files: "Dockerfile(-[A-Za-z_.-]+)?"
        require_serial: true
        entry: ./scripts/pre-commit-hadolint.sh
      - id: fuzzing-decision-lint
        name: Run linters for fuzzing_decision
        entry: bash -c 'cd services/fuzzing-decision && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/fuzzing-decision/.*
      - id: orion-decision-lint
        name: Run linters for orion_decision
        entry: bash -c 'cd services/orion-decision && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/orion-decision/.*
      - id: orion-builder-lint
        name: Run linters for orion_builder
        entry: bash -c 'cd services/orion-builder && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/orion-builder/.*

default_language_version:
  python: python3

feat: remove unused credstash service
  services/credstash/Dockerfile
  services/credstash/README.md
  services/credstash/service.yaml
Due: hadolint

feat: remove S3 support from Fuzzilli/libFuzzer, we only use GCS
  services/afl/launch-worker.sh
  services/fuzzilli/fuzzilli.sh
  services/libfuzzer/libfuzzer.sh
Due: none

feat: remove unused recipes
  recipes/linux/berglas.sh
  recipes/linux/common.sh
  recipes/linux/halfempty.sh
Due: none

fix(afl): use libxul.so packaged with gtests for filtering
  services/afl/launch-worker.sh
  services/nyx/launch-worker.sh
Due: none

fix(orion-builder): update base image and use published pyyaml
  services/orion-builder/Dockerfile
Due: hadolint

ci(grizzly-reduce-monitor): update tools
  .secrets.baseline
  services/grizzly-reduce-monitor/pyproject.toml
  services/grizzly-reduce-monitor/service.yaml
  services/grizzly-reduce-monitor/setup.cfg
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/common.py
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/launcher.py
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/monitor.py
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/update.py
  services/grizzly-reduce-monitor/tox.ini
Due: grizzly-reduce-monitor-lint

fix(orion-builder): pin task-boot to 0.4.3
  services/orion-builder/Dockerfile
  services/orion-builder/service.yaml
Due: hadolint

ci(grizzly): update tools
  services/grizzly/tox.ini
Due: none

ci: remove redundant lint runs
  services/grizzly-reduce-monitor/service.yaml
  services/grizzly/service.yaml
Due: none

ci: update base python version used when linting
  service.yaml
Due: none

fix: remove unused failed-log-ingestor image
  services/failed-log-ingestor/Dockerfile
  services/failed-log-ingestor/pyproject.toml
  services/failed-log-ingestor/service.yaml
  services/failed-log-ingestor/src/ingestor/__init__.py
  services/failed-log-ingestor/src/ingestor/py.typed
  services/failed-log-ingestor/tox.ini
Due: hadolint

fix: make python version minimum consistent
  pyproject.toml
  services/fuzzing-decision/pyproject.toml
  services/fuzzing-decision/setup.cfg
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/providers.py
  services/fuzzing-decision/tests/test_launch.py
  services/grizzly/pyproject.toml
  services/grizzly/rwait.py
  services/grizzly/setup.cfg
  services/nyx/nyx_ipc_manager/setup.cfg
  services/orion-builder/pyproject.toml
  services/orion-builder/setup.cfg
  services/orion-builder/src/orion_builder/build.py
  services/orion-builder/src/orion_builder/cli.py
  services/orion-builder/src/orion_builder/combine.py
  services/orion-builder/src/orion_builder/push.py
  services/orion-decision/pyproject.toml
  services/orion-decision/src/orion_decision/orion.py
  services/orion-decision/tests/conftest.py
  services/orion-decision/tests/test_cimatrix.py
  services/orion-decision/tests/test_cli.py
  services/orion-decision/tests/test_cron.py
  services/orion-decision/tests/test_gitrepo.py
  services/orion-decision/tests/test_orion.py
  services/orion-decision/tests/test_scheduler.py
  services/orion-decision/tox.ini
Due: grizzly-lint, fuzzing-decision-lint, orion-decision-lint, orion-builder-lint

ci: remove unnecessary config
  services/grizzly-reduce-monitor/tox.ini
  services/grizzly/tox.ini
  services/nyx/nyx_ipc_manager/tox.ini
  services/nyx/symbol-filter/tox.ini
  services/orion-builder/tox.ini
  services/orion-decision/tox.ini
Due: none

ci: update all linter versions, change black to ruff-format
  .pre-commit-config.yaml
  pyproject.toml
  services/fuzzing-decision/pyproject.toml
  services/fuzzing-decision/tests/test_workflow.py
  services/fuzzing-decision/tox.ini
  services/grizzly-reduce-monitor/tox.ini
  services/grizzly/launch-grizzly.sh
  services/grizzly/pyproject.toml
  services/grizzly/tox.ini
  services/libfuzzer/launch.sh
  services/nyx/nyx_ipc_manager/tox.ini
  services/nyx/symbol-filter/pyproject.toml
  services/nyx/symbol-filter/src/symbol_filter/filter.py
  services/nyx/symbol-filter/tox.ini
  services/nyx/symbol-filter/uv.lock
  services/orion-builder/src/orion_builder/build.py
  services/orion-builder/src/orion_builder/cli.py
  services/orion-builder/src/orion_builder/combine.py
  services/orion-builder/src/orion_builder/push.py
  services/orion-builder/src/orion_builder/stage_deps.py
  services/orion-builder/tox.ini
  services/orion-decision/pyproject.toml
  services/orion-decision/src/orion_decision/ci_check.py
  services/orion-decision/src/orion_decision/ci_matrix.py
  services/orion-decision/src/orion_decision/cli.py
  services/orion-decision/src/orion_decision/git.py
  services/orion-decision/src/orion_decision/orion.py
  services/orion-decision/src/orion_decision/scheduler.py
  services/orion-decision/tests/test_scheduler.py
  services/orion-decision/tox.ini
  setup.py
Due: fuzzing-decision-lint, orion-decision-lint, orion-builder-lint

feat: drop support for Python 3.9
  .pre-commit-config.yaml
  .secrets.baseline
  pyproject.toml
  services/afl/pyproject.toml
  services/ci-py-39-osx/service.yaml
  services/ci-py-39-osx/setup.sh
  services/ci-py-39-win/service.yaml
  services/ci-py-39-win/setup.sh
  services/ci-py-39/Dockerfile
  services/ci-py-39/service.yaml
  services/fuzzing-decision/pyproject.toml
  services/fuzzing-decision/service.yaml
  services/fuzzing-decision/setup.cfg
  services/fuzzing-decision/src/fuzzing_decision/common/util.py
  services/fuzzing-decision/tox.ini
  services/grizzly/pyproject.toml
  services/grizzly/rwait.py
  services/grizzly/setup.cfg
  services/nyx/nyx_ipc_manager/pyproject.toml
  services/nyx/nyx_ipc_manager/setup.cfg
  services/orion-builder/pyproject.toml
  services/orion-builder/setup.cfg
  services/orion-builder/src/orion_builder/build.py
  services/orion-builder/src/orion_builder/cli.py
  services/orion-builder/src/orion_builder/combine.py
  services/orion-builder/src/orion_builder/push.py
  services/orion-decision/pyproject.toml
  services/orion-decision/service.yaml
  services/orion-decision/src/orion_decision/ci_matrix.py
  services/orion-decision/tests/test_cischeduler.py
  services/orion-decision/tests/test_cli.py
  services/orion-decision/tests/test_gitrepo.py
  services/orion-decision/tests/test_orion.py
  services/orion-decision/tox.ini
Due: grizzly-lint, hadolint, fuzzing-decision-lint, orion-decision-lint, orion-builder-lint

ci: remove duplicated lint runs
  .pre-commit-config.yaml
  services/fuzzing-decision/service.yaml
  services/nyx/nyx_ipc_manager/service.yaml
  services/orion-builder/service.yaml
  services/orion-decision/service.yaml
Due: none

feat(crash-scout): add crux 1m to allow list
  services/site-scout-win/launch.sh
  services/site-scout/launch-worker.sh
Due: none

fix(reduce-monitor): increase task expiry to 4 weeks
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/monitor.py
Due: grizzly-reduce-monitor-lint

feat(symbol-filter): add support for reading local report configurations
  services/nyx/symbol-filter/src/symbol_filter/filter.py
Due: none

fix(symbol-filter): log ignored symbol count
  services/nyx/symbol-filter/src/symbol_filter/filter.py
Due: none

feat(symbol-filter): allow specifying a local build path
  services/nyx/symbol-filter/src/symbol_filter/filter.py
Due: none

test(symbol-filter): expand tests to include local reports and build paths
  services/nyx/symbol-filter/tests/test_filter.py
Due: none

fix(crash-scout): add api token arg
  services/site-scout-win/launch.sh
Due: none
