Repository MozillaSecurity/orion: changes, and which pre-commit hooks are due for each by the changed paths.
All: grizzly-lint, grizzly-android-lint, grizzly-reduce-monitor-lint, hadolint, fuzzing-decision-lint, orion-decision-lint, orion-builder-lint

grizzly-lint:
  name: Run linters for grizzly
  entry: bash -c 'cd services/grizzly && exec tox -e lint'
  language: system
  require_serial: true
  pass_filenames: false

grizzly-android-lint:
  name: Run linters for grizzly-android
  entry: bash -c 'cd services/grizzly-android && exec tox -e lint'
  language: system
  require_serial: true
  pass_filenames: false

grizzly-reduce-monitor-lint:
  name: Run linters for grizzly_reduce_monitor
  entry: bash -c 'cd services/grizzly-reduce-monitor && exec tox -e lint'
  language: system
  require_serial: true
  pass_filenames: false

hadolint:
  name: Lint dockerfiles
  language: system
  require_serial: true
  entry: ./scripts/pre-commit-hadolint.sh

fuzzing-decision-lint:
  name: Run linters for fuzzing_decision
  entry: bash -c 'cd services/fuzzing-decision && exec tox -e lint'
  language: system
  require_serial: true
  pass_filenames: false

orion-decision-lint:
  name: Run linters for orion_decision
  entry: bash -c 'cd services/orion-decision && exec tox -e lint'
  language: system
  require_serial: true
  pass_filenames: false

orion-builder-lint:
  name: Run linters for orion_builder
  entry: bash -c 'cd services/orion-builder && exec tox -e lint'
  language: system
  require_serial: true
  pass_filenames: false

feat: add recipe for installing uv
  recipes/linux/uv.sh
Due: none

feat(bugmon): replace poetry with uv
  services/bugmon/launch-bugmon.sh
  services/bugmon/setup.sh
Due: none

fix(neqo-coverage): increase libFuzzer memory limit
  services/neqo-coverage/launch-worker.sh
Due: none

fix(distiller): fix path for firefox repo
  services/js-tests-distiller/launch.sh
Due: none

feat(afl): increase AFL_MAP_SIZE to 2^24
  services/afl/launch-worker.sh
  services/nyx/sharedir/stage2.sh
Due: none

fix: clone and install editable packages from the same user
  services/afl/setup.sh
  services/fuzzilli/setup.sh
Due: none

feat(fuzzing-decision): add max_tasks to limit worker lifetime
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/providers.py
  services/fuzzing-decision/src/fuzzing_decision/schemas/pools.yaml
  services/fuzzing-decision/src/fuzzing_decision/schemas/worker.yaml
  services/fuzzing-decision/tests/test_pool.py
  services/fuzzing-decision/tox.ini
Due: fuzzing-decision-lint

fix(grizzly): update dbgsym list
  services/grizzly/setup.sh
Due: none

fix: use PEP 508 direct URL syntax
  services/coverage-revision/Dockerfile
  services/grizzly-win/launch.sh
  services/site-scout-win/launch.sh
Due: hadolint

fix: update url for nuget cli
  services/bugmon-win/setup.sh
  services/ci-py-310-win/setup.sh
  services/ci-py-311-win/setup.sh
  services/ci-py-312-win/setup.sh
  services/ci-py-313-win/setup.sh
  services/grizzly-win/setup.sh
  services/site-scout-win/setup.sh
Due: none

docs: add readme for test-recipes
  services/test-recipes/README.md
Due: none

feat: update AFL to v5.02c
  services/afl/Dockerfile
  services/nyx/Dockerfile
  services/nyx/build_afl.sh
  services/nyx/patches/afl-cmin.diff
  services/nyx/patches/hongfuzz-2b-chunked.diff
  services/nyx/patches/increase-map-size.diff
Due: hadolint

feat: allow pinning toolchains to a specific taskgraph revision
  recipes/linux/taskgraph-m-c-latest.sh
  services/afl/Dockerfile
  services/fuzzilli/Dockerfile
  services/grizzly/Dockerfile
  services/neqo-coverage/Dockerfile
  services/nss-coverage/Dockerfile
  services/nyx/Dockerfile
Due: hadolint

fix(afl): resolve afl-instrumentation toolchain by task name
  services/afl/setup.sh
Due: none

fix(afl): use --branch for non-central repos and honor REVISION
  services/afl/setup-target.sh
Due: none

fix(fuzzilli): parse coverage flags with readarray, not read -a
  services/fuzzilli/coverage.sh
Due: none

fix(fuzzilli): update SpidermonkeyProfile path for upstream module move
  services/fuzzilli/coverage.sh
Due: none

feat(bugmon): always use the latest version of bugmon and prefpicker
  services/bugmon/launch-bugmon.sh
Due: none

fix(nss-coverage): pass correct source to grcov
  services/nss-coverage/launch-worker.sh
  services/nss-coverage/nspr_map.json
Due: none

fix(nss-coverage): add missing nspr_map.json entries
  services/nss-coverage/nspr_map.json
Due: none

fix(afl): restore AFL_MAP_SIZE guard
  services/nyx/patches/afl-cmin.diff
Due: none

feat(fuzzing-decision): support running on multiple Taskcluster instances
  .secrets.baseline
  services/fuzzing-decision/src/fuzzing_decision/common/__init__.py
  services/fuzzing-decision/src/fuzzing_decision/decision/__init__.py
  services/fuzzing-decision/src/fuzzing_decision/decision/instances.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/providers.py
  services/fuzzing-decision/src/fuzzing_decision/decision/workflow.py
  services/fuzzing-decision/tc-admin.py
  services/fuzzing-decision/tests/fixtures/fxci/environments.yml
  services/fuzzing-decision/tests/fixtures/fxci/worker-images.yml
  services/fuzzing-decision/tests/test_instances.py
  services/fuzzing-decision/tests/test_providers_fxci.py
Due: fuzzing-decision-lint

Path conditions:
  grizzly-lint: any of: ^services/grizzly/.* and \.py$
  grizzly-android-lint: any of: ^services/grizzly-android/.* and \.py$
  grizzly-reduce-monitor-lint: any of: ^services/grizzly-reduce-monitor/.* and \.py$
  hadolint: any of: Dockerfile(-[A-Za-z_.-]+)?
  fuzzing-decision-lint: any of: ^services/fuzzing-decision/.* and \.py$
  orion-decision-lint: any of: ^services/orion-decision/.* and \.py$
  orion-builder-lint: any of: ^services/orion-builder/.* and \.py$
