Repository MozillaSecurity/orion: changes, and which pre-commit hooks are due for each by the changed paths.
All: grizzly-lint, grizzly-android-lint, grizzly-reduce-monitor-lint, hadolint, fuzzing-decision-lint, orion-decision-lint, orion-builder-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.1
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
        files: ^scripts/.*|^setup.py
  - repo: https://github.com/ambv/black
    rev: 24.8.0
    hooks:
      - id: black
        files: ^scripts/.*|^setup.py
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: trailing-whitespace
        exclude: '\.diff$'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: check-json
      - id: requirements-txt-fixer
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude_types: [json]
        exclude: ^(.*\.ron)|(pools*.yaml)$
  - repo: https://github.com/marco-c/taskcluster_yml_validator
    rev: v0.0.11
    hooks:
      - id: taskcluster_yml
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--exclude=SC1091,SC2148']
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-s', '-w']
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: orion-service-load
        name: Check that Orion services can be loaded
        entry: bash -c 'cd services/orion-decision && exec tox -qq -e check -- -q ../.. "$@"' orion-check
        language: system
        always_run: true
        require_serial: true
        verbose: true
      - id: grizzly-lint
        name: Run linters for grizzly
        entry: bash -c 'cd services/grizzly && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/grizzly/.*
      - id: grizzly-android-lint
        name: Run linters for grizzly-android
        entry: bash -c 'cd services/grizzly-android && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/grizzly-android/.*
      - id: grizzly-reduce-monitor-lint
        name: Run linters for grizzly_reduce_monitor
        entry: bash -c 'cd services/grizzly-reduce-monitor && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/grizzly-reduce-monitor/.*
      - id: hadolint
        name: Lint dockerfiles
        language: system
        files: "Dockerfile(-[A-Za-z_.-]+)?"
        require_serial: true
        entry: ./scripts/pre-commit-hadolint.sh
      - id: fuzzing-decision-lint
        name: Run linters for fuzzing_decision
        entry: bash -c 'cd services/fuzzing-decision && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/fuzzing-decision/.*
      - id: orion-decision-lint
        name: Run linters for orion_decision
        entry: bash -c 'cd services/orion-decision && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/orion-decision/.*
      - id: orion-builder-lint
        name: Run linters for orion_builder
        entry: bash -c 'cd services/orion-builder && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/orion-builder/.*

default_language_version:
  python: python3

feat(site-scout): add android support
  services/site-scout/launch-worker.sh
Due: none

fix(site-scout): exit immediately if no work is remaining
  services/site-scout/launch-worker.sh
Due: none

feat(site-scout): add support for DEBUG and DISPLAY_MODE
  services/site-scout/launch-worker.sh
Due: none

chore(site-scout): setup kvm device
  services/site-scout/launch-root.sh
Due: none

feat: add sentry error reporting to launch scripts
  recipes/linux/sentry.sh
  services/afl/Dockerfile
  services/afl/launch-root.sh
  services/afl/setup.sh
  services/funfuzz/launch.sh
  services/funfuzz/setup.sh
  services/fuzzilli/Dockerfile
  services/fuzzilli/launch.sh
  services/fuzzilli/setup.sh
  services/grizzly-win/launch.sh
  services/grizzly-win/setup.sh
  services/grizzly/launch-grizzly.sh
  services/grizzly/setup.sh
  services/langfuzz/launch-langfuzz.sh
  services/langfuzz/setup.sh
  services/libfuzzer/launch.sh
  services/libfuzzer/setup.sh
  services/neqo-coverage/launch-root.sh
  services/neqo-coverage/setup.sh
  services/nss-coverage/launch-root.sh
  services/nss-coverage/setup.sh
  services/nyx/Dockerfile
  services/nyx/launch-root.sh
  services/nyx/setup.sh
  services/site-scout-win/launch.sh
  services/site-scout-win/setup.sh
  services/site-scout/launch-root.sh
Due: hadolint

chore: disable sentry until reporting issues can be investigated
  services/afl/launch-root.sh
  services/funfuzz/launch.sh
  services/fuzzilli/launch.sh
  services/grizzly-win/launch.sh
  services/grizzly/launch-grizzly.sh
  services/langfuzz/launch-langfuzz.sh
  services/libfuzzer/launch.sh
  services/neqo-coverage/launch-root.sh
  services/nss-coverage/launch-root.sh
  services/nyx/launch-root.sh
  services/site-scout-win/launch.sh
  services/site-scout/launch-root.sh
Due: none

feat: add sentry to all FuzzManager installs
  recipes/linux/fuzzmanager.sh
  services/grizzly-win/launch.sh
  services/site-scout-win/launch.sh
Due: none

feat: add sentry to all guided-fuzzing-daemon installs
  services/afl/setup.sh
  services/fuzzilli/setup.sh
  services/libfuzzer/setup.sh
  services/nyx/setup.sh
Due: none

fix: properly specify sentry for FM git-url installs
  recipes/linux/fuzzmanager.sh
  services/grizzly-win/launch.sh
  services/site-scout-win/launch.sh
Due: none

fix(fuzzing-decision): specify ssh private key when cloning
  services/fuzzing-decision/src/fuzzing_decision/common/workflow.py
Due: fuzzing-decision-lint

fix: add gcc to coverage-revision install and update version
  services/coverage-revision/Dockerfile
Due: hadolint

fix: warn on task status reports before fuzzmanagerconf created
  recipes/linux/common.sh
Due: none

fix: end the task early when we calculate remaining time < 5 minutes
  recipes/linux/common.sh
Due: none

fix: typo in ssh clone command
  services/fuzzing-decision/src/fuzzing_decision/common/workflow.py
Due: fuzzing-decision-lint

fix: verify that .ssh and known_hosts have good permissions
  services/fuzzing-decision/src/fuzzing_decision/common/workflow.py
Due: fuzzing-decision-lint

chore: increase ssh verbosity for fuzzing-decision git clone
  services/fuzzing-decision/src/fuzzing_decision/common/workflow.py
Due: fuzzing-decision-lint

chore: update macos CI worker version
  .github/workflows/taskcluster-pr.yml
  .github/workflows/taskcluster-push.yml
  .github/workflows/taskcluster-release.yml
Due: none

feat: use git version of fuzzfetch everywhere
  services/coverage-revision/Dockerfile
  services/site-scout-win/launch.sh
Due: hadolint

feat: add support for thunderbird libfuzzer target
  services/libfuzzer/setup-target.sh
Due: none

fix(fuzzing-decision): use ssh private key even if it was pre-existing
  services/fuzzing-decision/src/fuzzing_decision/common/workflow.py
Due: fuzzing-decision-lint

chore: update fluent-bit download url
  services/grizzly-win/setup.sh
  services/site-scout-win/setup.sh
Due: none
