Repository MozillaSecurity/orion: changes, and which pre-commit hooks are due for each by the changed paths.
All: grizzly-lint, grizzly-android-lint, grizzly-reduce-monitor-lint, hadolint, fuzzing-decision-lint, orion-decision-lint, orion-builder-lint

grizzly-lint:
  name: Run linters for grizzly
  entry: bash -c 'cd services/grizzly && exec tox -e lint'
  language: system
  require_serial: true
  pass_filenames: false

grizzly-android-lint:
  name: Run linters for grizzly-android
  entry: bash -c 'cd services/grizzly-android && exec tox -e lint'
  language: system
  require_serial: true
  pass_filenames: false

grizzly-reduce-monitor-lint:
  name: Run linters for grizzly_reduce_monitor
  entry: bash -c 'cd services/grizzly-reduce-monitor && exec tox -e lint'
  language: system
  require_serial: true
  pass_filenames: false

hadolint:
  name: Lint dockerfiles
  language: system
  require_serial: true
  entry: ./scripts/pre-commit-hadolint.sh

fuzzing-decision-lint:
  name: Run linters for fuzzing_decision
  entry: bash -c 'cd services/fuzzing-decision && exec tox -e lint'
  language: system
  require_serial: true
  pass_filenames: false

orion-decision-lint:
  name: Run linters for orion_decision
  entry: bash -c 'cd services/orion-decision && exec tox -e lint'
  language: system
  require_serial: true
  pass_filenames: false

orion-builder-lint:
  name: Run linters for orion_builder
  entry: bash -c 'cd services/orion-builder && exec tox -e lint'
  language: system
  require_serial: true
  pass_filenames: false

feat(fuzzing-decision): add support for extra worker pools in fuzzing-tc-config
  services/fuzzing-decision/setup.cfg
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/workflow.py
  services/fuzzing-decision/src/fuzzing_decision/schemas/machines.yaml
  services/fuzzing-decision/src/fuzzing_decision/schemas/pools.yaml
  services/fuzzing-decision/src/fuzzing_decision/schemas/worker.yaml
  services/fuzzing-decision/src/fuzzing_decision/schemas/workers.yaml
Due: fuzzing-decision-lint

refactor(fuzzing-decision): Simplify the implementation
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/workflow.py
  services/fuzzing-decision/src/fuzzing_decision/pool_launch/launcher.py
  services/fuzzing-decision/tests/fixtures/pools/expect9.yml
  services/fuzzing-decision/tests/fixtures/pools/load-cfg.yml
  services/fuzzing-decision/tests/fixtures/pools/load-map.yml
  services/fuzzing-decision/tests/fixtures/pools/pool9.yml
  services/fuzzing-decision/tests/fixtures/pools/pre-pool.yml
  services/fuzzing-decision/tests/test_launch.py
  services/fuzzing-decision/tests/test_pool.py
Due: fuzzing-decision-lint

chore(fuzzing-decision): fix type linting
  services/fuzzing-decision/src/fuzzing_decision/common/util.py
Due: fuzzing-decision-lint

chore(fuzzing-decision): move attr descriptions from schema to the class
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/schemas/pools.yaml
Due: fuzzing-decision-lint

refactor(fuzzing-decision): move parse_size/parse_time to common.util
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/common/util.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/providers.py
Due: fuzzing-decision-lint

refactor(fuzzing-decision): use Iterator in place of Generator
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
Due: fuzzing-decision-lint

refactor(fuzzing-decision): move schema validation to common.util
  services/fuzzing-decision/src/fuzzing_decision/common/util.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
Due: fuzzing-decision-lint

chore(fuzzing-decision): use schema to validate machines.yml
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
Due: fuzzing-decision-lint

feat(fuzzing-decision): create a configuration error type for validation
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
Due: fuzzing-decision-lint

chore(fuzzing-decision): fix line length issue
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
Due: fuzzing-decision-lint

fix(fuzzing-decision): fix/remove useless assertions
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
Due: fuzzing-decision-lint

fix(orion-decision): include `type:test` services in the dependency tree
  services/orion-decision/src/orion_decision/orion.py
  services/orion-decision/src/orion_decision/scheduler.py
  services/orion-decision/tests/fixtures/services11/test-force-dep-on-test/Dockerfile
  services/orion-decision/tests/fixtures/services11/test-force-dep-on-test/service.yaml
  services/orion-decision/tests/test_scheduler.py
Due: hadolint, orion-decision-lint

refactor(orion-decision): rename some numbered tests
  services/orion-decision/tests/test_orion.py
  services/orion-decision/tests/test_scheduler.py
Due: orion-decision-lint

feat(fuzzing-decision): raise a configuration error if required fields are missing
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
Due: fuzzing-decision-lint

fix(fuzzing-decision): Default max_run_time = cycle_time
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/tests/fixtures/pools/expect-without-max-run-time.yml
  services/fuzzing-decision/tests/fixtures/pools/pool-without-max-run-time.yml
Due: fuzzing-decision-lint

fix(fuzzing-decision): revert unintended changes from old behaviour
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/tests/fixtures/pools/expect9.yml
  services/fuzzing-decision/tests/fixtures/pools/pool9.yml
  services/fuzzing-decision/tests/fixtures/pools/pre-pool.yml
Due: fuzzing-decision-lint

chore: fix shfmt errors
  services/neqo-coverage/launch-worker.sh
  services/nss-corpus-update/launch.sh
  services/nss-coverage/launch-worker.sh
Due: none

fix(fuzzing-decision): include schemas
  services/fuzzing-decision/MANIFEST.in
Due: none

test(nyx): drop python 3.9 from tests
  services/nyx/symbol-filter/pyproject.toml
  services/nyx/symbol-filter/service.yaml
Due: none

fix: add dependency on python subprojects for afl/nyx
  services/afl/service.yaml
  services/nyx/service.yaml
Due: none

fix(nyx): patch reporter decorator in tests
  services/nyx/symbol-filter/tests/test_filter.py
Due: none

feat: enable dynamic coverage symbol filtering via path filter
  services/afl/Dockerfile
  services/afl/launch-root.sh
  services/afl/launch-worker.sh
  services/afl/setup.sh
  services/nyx/Dockerfile
  services/nyx/launch-worker.sh
  services/nyx/setup.sh
  services/nyx/symbol-filter/.python-version
  services/nyx/symbol-filter/README.md
  services/nyx/symbol-filter/pyproject.toml
  services/nyx/symbol-filter/src/symbol_filter/__init__.py
  services/nyx/symbol-filter/src/symbol_filter/__main__.py
  services/nyx/symbol-filter/src/symbol_filter/filter.py
  services/nyx/symbol-filter/tests/test_filter.py
  services/nyx/symbol-filter/tox.ini
  services/nyx/symbol-filter/uv.lock
Due: hadolint

Path conditions:
  grizzly-lint: any of: ^services/grizzly/.* and \.py$
  grizzly-android-lint: any of: ^services/grizzly-android/.* and \.py$
  grizzly-reduce-monitor-lint: any of: ^services/grizzly-reduce-monitor/.* and \.py$
  hadolint: any of: Dockerfile(-[A-Za-z_.-]+)?
  fuzzing-decision-lint: any of: ^services/fuzzing-decision/.* and \.py$
  orion-decision-lint: any of: ^services/orion-decision/.* and \.py$
  orion-builder-lint: any of: ^services/orion-builder/.* and \.py$
