Repository MozillaSecurity/orion: changes, and which pre-commit hooks are due for each by the changed paths.
All: grizzly-lint, grizzly-android-lint, grizzly-reduce-monitor-lint, hadolint, fuzzing-decision-lint, orion-decision-lint, orion-builder-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.1
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
        files: ^scripts/.*|^setup.py
  - repo: https://github.com/ambv/black
    rev: 24.8.0
    hooks:
      - id: black
        files: ^scripts/.*|^setup.py
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: trailing-whitespace
        exclude: '\.diff$'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: check-json
      - id: requirements-txt-fixer
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude_types: [json]
        exclude: ^(.*\.ron)|(pools*.yaml)$
  - repo: https://github.com/marco-c/taskcluster_yml_validator
    rev: v0.0.11
    hooks:
      - id: taskcluster_yml
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--exclude=SC1091,SC2148']
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-s', '-w']
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: orion-service-load
        name: Check that Orion services can be loaded
        entry: bash -c 'cd services/orion-decision && exec tox -qq -e check -- -q ../.. "$@"' orion-check
        language: system
        always_run: true
        require_serial: true
        verbose: true
      - id: grizzly-lint
        name: Run linters for grizzly
        entry: bash -c 'cd services/grizzly && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/grizzly/.*
      - id: grizzly-android-lint
        name: Run linters for grizzly-android
        entry: bash -c 'cd services/grizzly-android && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/grizzly-android/.*
      - id: grizzly-reduce-monitor-lint
        name: Run linters for grizzly_reduce_monitor
        entry: bash -c 'cd services/grizzly-reduce-monitor && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/grizzly-reduce-monitor/.*
      - id: hadolint
        name: Lint dockerfiles
        language: system
        files: "Dockerfile(-[A-Za-z_.-]+)?"
        require_serial: true
        entry: ./scripts/pre-commit-hadolint.sh
      - id: fuzzing-decision-lint
        name: Run linters for fuzzing_decision
        entry: bash -c 'cd services/fuzzing-decision && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/fuzzing-decision/.*
      - id: orion-decision-lint
        name: Run linters for orion_decision
        entry: bash -c 'cd services/orion-decision && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/orion-decision/.*
      - id: orion-builder-lint
        name: Run linters for orion_builder
        entry: bash -c 'cd services/orion-builder && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/orion-builder/.*

default_language_version:
  python: python3

fix: don't create a cron schedule for disabled pools
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
Due: fuzzing-decision-lint

fix: install zstd in fuzzfetch.sh
  recipes/linux/fuzzfetch.sh
Due: none

chore(grizzly-reduce): set PERIODIC_REPORT
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/task_templates/reduce-android.yaml
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/task_templates/reduce-macos.yaml
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/task_templates/reduce-windows.yaml
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/task_templates/reduce.yaml
Due: none

chore(grizzly-reduce): set MEM_LIMIT
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/task_templates/reduce-macos.yaml
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/task_templates/reduce.yaml
Due: none

chore(grizzly-reduce-monitor): add route entry for failed tasks
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/task_templates/reduce-android.yaml
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/task_templates/reduce-macos.yaml
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/task_templates/reduce-windows.yaml
  services/grizzly-reduce-monitor/src/grizzly_reduce_monitor/task_templates/reduce.yaml
Due: none

feat: allow setup of LLVM Debian repo without install
  recipes/linux/llvm.sh
Due: none

feat: add llvm-cov recipe
  recipes/linux/llvm-cov.sh
Due: none

feat: allow override of LLVM version, upgrade to 20 by default
  recipes/linux/llvm.sh
Due: none

feat(grizzly): use llvm-cov for grcov
  services/grizzly/launch-grizzly-worker.sh
  services/grizzly/setup.sh
Due: none

refactor(fuzzing-decision): move parse_size/parse_time to common.util
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/common/util.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/providers.py
Due: fuzzing-decision-lint

refactor(fuzzing-decision): use Iterator in place of Generator
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
Due: fuzzing-decision-lint

feat(fuzzing-decision): add support for extra worker pools in fuzzing-tc-config
  services/fuzzing-decision/setup.cfg
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/workflow.py
  services/fuzzing-decision/src/fuzzing_decision/schemas/machines.yaml
  services/fuzzing-decision/src/fuzzing_decision/schemas/pools.yaml
  services/fuzzing-decision/src/fuzzing_decision/schemas/worker.yaml
  services/fuzzing-decision/src/fuzzing_decision/schemas/workers.yaml
Due: fuzzing-decision-lint

refactor(fuzzing-decision): move schema validation to common.util
  services/fuzzing-decision/src/fuzzing_decision/common/util.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
Due: fuzzing-decision-lint

chore(fuzzing-decision): fix type linting
  services/fuzzing-decision/src/fuzzing_decision/common/util.py
Due: fuzzing-decision-lint

feat: enable dynamic coverage symbol filtering via path filter
  services/afl/Dockerfile
  services/afl/launch-root.sh
  services/afl/launch-worker.sh
  services/afl/setup.sh
  services/nyx/Dockerfile
  services/nyx/launch-worker.sh
  services/nyx/setup.sh
  services/nyx/symbol-filter/.python-version
  services/nyx/symbol-filter/README.md
  services/nyx/symbol-filter/pyproject.toml
  services/nyx/symbol-filter/src/symbol_filter/__init__.py
  services/nyx/symbol-filter/src/symbol_filter/__main__.py
  services/nyx/symbol-filter/src/symbol_filter/filter.py
  services/nyx/symbol-filter/tests/test_filter.py
  services/nyx/symbol-filter/tox.ini
  services/nyx/symbol-filter/uv.lock
Due: hadolint

refactor(nyx): move nyx_ipc_manager to its own project directory
  services/afl/Dockerfile
  services/nyx/Dockerfile
  services/nyx/nyx_ipc_manager/nyx_ipc_manager.py
  services/nyx/nyx_ipc_manager/nyx_utils.py
  services/nyx/nyx_ipc_manager/pyproject.toml
  services/nyx/nyx_ipc_manager/service.yaml
  services/nyx/nyx_ipc_manager/setup.cfg
  services/nyx/nyx_ipc_manager/setup.py
  services/nyx/nyx_ipc_manager/tox.ini
  services/nyx/service.yaml
  services/nyx/symbol-filter/service.yaml
Due: hadolint

feat: always install latest version of grcov
  recipes/linux/grcov.sh
  services/grizzly/setup.sh
Due: none

fix(nyx): patch reporter decorator in tests
  services/nyx/symbol-filter/tests/test_filter.py
Due: none

test: ignore ruf top level imports
  services/nyx/symbol-filter/pyproject.toml
Due: none

test(nyx): drop python 3.9 from tests
  services/nyx/symbol-filter/pyproject.toml
  services/nyx/symbol-filter/service.yaml
Due: none

ci: use ci-py-310 for nyx_ipc_manager lint job
  services/nyx/nyx_ipc_manager/service.yaml
Due: none

fix(nyx): unknown firefox change now requires existing profile root
  services/nyx/sharedir/stage2.sh
Due: none

feat: use llvm-cov in place of gcov
  recipes/linux/llvm-cov.sh
  services/afl/Dockerfile
  services/afl/setup.sh
  services/funfuzz/setup.sh
  services/fuzzilli/Dockerfile
  services/fuzzilli/setup.sh
  services/grizzly/setup.sh
  services/langfuzz/setup.sh
  services/libfuzzer/setup.sh
  services/neqo-coverage/setup.sh
  services/nss-coverage/setup.sh
Due: hadolint

chore(orion-decision): increase deadline time to aide retries
  services/orion-decision/src/orion_decision/__init__.py
Due: orion-decision-lint

chore(ci): use msys2 openssh
  services/ci-node-18-win/setup.sh
  services/ci-node-20-win/setup.sh
  services/ci-py-310-win/setup.sh
  services/ci-py-311-win/setup.sh
  services/ci-py-312-win/setup.sh
  services/ci-py-313-win/setup.sh
  services/ci-py-39-win/setup.sh
Due: none
