Repository MozillaSecurity/orion: changes, and which pre-commit hooks are due for each by the changed paths.
All: grizzly-lint, grizzly-android-lint, grizzly-reduce-monitor-lint, hadolint, fuzzing-decision-lint, orion-decision-lint, orion-builder-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.1
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
        files: ^scripts/.*|^setup.py
  - repo: https://github.com/ambv/black
    rev: 24.8.0
    hooks:
      - id: black
        files: ^scripts/.*|^setup.py
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: trailing-whitespace
        exclude: '\.diff$'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ['--django']
      - id: check-json
      - id: requirements-txt-fixer
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude_types: [json]
        exclude: ^(.*\.ron)|(pools*.yaml)$
  - repo: https://github.com/marco-c/taskcluster_yml_validator
    rev: v0.0.11
    hooks:
      - id: taskcluster_yml
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--exclude=SC1091,SC2148']
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-s', '-w']
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: orion-service-load
        name: Check that Orion services can be loaded
        entry: bash -c 'cd services/orion-decision && exec tox -qq -e check -- -q ../.. "$@"' orion-check
        language: system
        always_run: true
        require_serial: true
        verbose: true
      - id: grizzly-lint
        name: Run linters for grizzly
        entry: bash -c 'cd services/grizzly && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/grizzly/.*
      - id: grizzly-android-lint
        name: Run linters for grizzly-android
        entry: bash -c 'cd services/grizzly-android && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/grizzly-android/.*
      - id: grizzly-reduce-monitor-lint
        name: Run linters for grizzly_reduce_monitor
        entry: bash -c 'cd services/grizzly-reduce-monitor && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/grizzly-reduce-monitor/.*
      - id: hadolint
        name: Lint dockerfiles
        language: system
        files: "Dockerfile(-[A-Za-z_.-]+)?"
        require_serial: true
        entry: ./scripts/pre-commit-hadolint.sh
      - id: fuzzing-decision-lint
        name: Run linters for fuzzing_decision
        entry: bash -c 'cd services/fuzzing-decision && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/fuzzing-decision/.*
      - id: orion-decision-lint
        name: Run linters for orion_decision
        entry: bash -c 'cd services/orion-decision && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/orion-decision/.*
      - id: orion-builder-lint
        name: Run linters for orion_builder
        entry: bash -c 'cd services/orion-builder && exec tox -e lint'
        language: system
        require_serial: true
        pass_filenames: false
        types: [python]
        files: ^services/orion-builder/.*

default_language_version:
  python: python3

test(nyx): drop python 3.9 from tests
  services/nyx/symbol-filter/pyproject.toml
  services/nyx/symbol-filter/service.yaml
Due: none

fix(symbol-filter): remove unnecessary replacement from pattern escape
  services/nyx/symbol-filter/src/symbol_filter/filter.py
  services/nyx/symbol-filter/tests/test_filter.py
Due: none

fix(symbol-filter): log offending line in distinclude map
  services/nyx/symbol-filter/src/symbol_filter/filter.py
Due: none

fix(symbol-filter): use parser.error instead of ArgumentTypeError
  services/nyx/symbol-filter/src/symbol_filter/filter.py
Due: none

refactor(nyx): move nyx_ipc_manager to its own project directory
  services/afl/Dockerfile
  services/nyx/Dockerfile
  services/nyx/nyx_ipc_manager/nyx_ipc_manager.py
  services/nyx/nyx_ipc_manager/nyx_utils.py
  services/nyx/nyx_ipc_manager/pyproject.toml
  services/nyx/nyx_ipc_manager/service.yaml
  services/nyx/nyx_ipc_manager/setup.cfg
  services/nyx/nyx_ipc_manager/setup.py
  services/nyx/nyx_ipc_manager/tox.ini
  services/nyx/service.yaml
  services/nyx/symbol-filter/service.yaml
Due: hadolint

feat: enable dynamic coverage symbol filtering via path filter
  services/afl/Dockerfile
  services/afl/launch-root.sh
  services/afl/launch-worker.sh
  services/afl/setup.sh
  services/nyx/Dockerfile
  services/nyx/launch-worker.sh
  services/nyx/setup.sh
  services/nyx/symbol-filter/.python-version
  services/nyx/symbol-filter/README.md
  services/nyx/symbol-filter/pyproject.toml
  services/nyx/symbol-filter/src/symbol_filter/__init__.py
  services/nyx/symbol-filter/src/symbol_filter/__main__.py
  services/nyx/symbol-filter/src/symbol_filter/filter.py
  services/nyx/symbol-filter/tests/test_filter.py
  services/nyx/symbol-filter/tox.ini
  services/nyx/symbol-filter/uv.lock
Due: hadolint

fix(symbol-filter): use fullmatch for pattern matching
  services/nyx/symbol-filter/src/symbol_filter/filter.py
Due: none

fix(symbol-filter): use a TypedDict to represent ReportConfigurationResult
  services/nyx/symbol-filter/src/symbol_filter/filter.py
Due: none

refactor(symbol-filter): apply formatting
  services/nyx/symbol-filter/src/symbol_filter/filter.py
Due: none

ci: use ci-py-310 for nyx_ipc_manager lint job
  services/nyx/nyx_ipc_manager/service.yaml
Due: none

refactor(symbol-filter): use dataclass instead of tuple for FilterPattern
  services/nyx/symbol-filter/src/symbol_filter/filter.py
  services/nyx/symbol-filter/tests/test_filter.py
Due: none

fix(symbol-filter): simplify pattern matching logic
  services/nyx/symbol-filter/src/symbol_filter/filter.py
Due: none

fix: add dependency on python subprojects for afl/nyx
  services/afl/service.yaml
  services/nyx/service.yaml
Due: none

fix(symbol-filter): prefer dynamic coverage filter most of the time
  recipes/linux/common.sh
  services/afl/launch-worker.sh
  services/nyx/launch-worker.sh
Due: none

fix(symbol-filter): print line numbers starting at 1
  services/nyx/symbol-filter/src/symbol_filter/filter.py
Due: none

fix(symbol-filter): remove unnecessary tool declaration
  services/nyx/symbol-filter/src/symbol_filter/filter.py
Due: none

test: ignore ruf top level imports
  services/nyx/symbol-filter/pyproject.toml
Due: none

fix(symbol-filter): log line when invalid symbol map entry detected
  services/nyx/symbol-filter/src/symbol_filter/filter.py
Due: none

feat(fuzzing-decision): add support for enabling PMU in GCP
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/providers.py
  services/fuzzing-decision/src/fuzzing_decision/schemas/pools.yaml
  services/fuzzing-decision/src/fuzzing_decision/schemas/worker.yaml
  services/fuzzing-decision/tests/test_pool.py
Due: fuzzing-decision-lint

fix(afl): update path for filtered symbol result
  services/afl/launch-worker.sh
Due: none

ci: Use self-managed ci-decision pool for orion ci and fuzzing pool decisions
  .taskcluster.yml
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/task_templates/decision.yaml
  services/fuzzing-decision/tests/test_pool.py
Due: fuzzing-decision-lint

ci: allow machines to idle for 15 minutes to prevent churn
  services/fuzzing-decision/src/fuzzing_decision/decision/providers.py
  services/fuzzing-decision/tests/test_pool.py
Due: fuzzing-decision-lint

feat(recipes): install node v22
  recipes/linux/nodejs.sh
Due: none

feat: add ci images for node 22
  services/ci-node-22-win/service.yaml
  services/ci-node-22-win/setup.sh
  services/ci-node-22/Dockerfile
  services/ci-node-22/service.yaml
  services/orion-decision/src/orion_decision/ci_matrix.py
Due: hadolint, orion-decision-lint

ci: update .secrets.baseline line numbers
  .secrets.baseline
Due: none

feat: update nodejs related services to use ci-node-22
  services/domino-web-tests/Dockerfile
  services/gr-idl-update/Dockerfile
Due: hadolint

fix(afl): use libxul.so packaged with gtests for filtering
  services/afl/launch-worker.sh
  services/nyx/launch-worker.sh
Due: none

fix(funfuzz): only checkout funfuzz once
  services/funfuzz/funfuzz.sh
Due: none

feat(fuzzilli): pre-create the crashes directory
  services/fuzzilli/fuzzilli.sh
Due: none

fix(orion-builder): update base image and use published pyyaml
  services/orion-builder/Dockerfile
Due: hadolint
